$(function() {

var phrases = [
  "George Bush doesn't care about black people.",
  "I was never really good at anything except for the ability to learn.",
  "We all self-conscious. I'm just the first to admit it.",
  "People always say that you can't please everybody. I think that's a cop-out. Why not attempt it? 'Cause think of all the people you will please if you try.",
  "Nothing in life is promised except death.",
  "I'll say things that are serious and put them in a joke form so people can enjoy them. We laugh to keep from crying.",
  "If you have the opportunity to play this game of life you need to appreciate every moment. a lot of people don't appreciate the moment until it's passed.",
  "This dark diction has become America's addiction."
];

var changeImage = function() {
  var backgrounds = [
    '<%= asset_path "1.jpg" %>',
    '<%= asset_path "2.jpg" %>',
    '<%= asset_path "3.jpg" %>',
    '<%= asset_path "4.jpg" %>',
    '<%= asset_path "5.jpg" %>',
    '<%= asset_path "6.jpg" %>',
    '<%= asset_path "8.jpg" %>',
    '<%= asset_path "9.jpg" %>',
    '<%= asset_path "10.jpg" %>',
    '<%= asset_path "11.jpg" %>'
    ];

  var index = Math.floor(Math.random() * (backgrounds.length - 1));
  $('.container-fluid').css('background-image', 'url(' + backgrounds[index] + ')')

};

$('form').on('submit', function(event) {
  event.preventDefault();
  var addPhrase = $('#lyrics-input').val();
  phrases.push(addPhrase);
});

$('.refresh-btn').click(function() {
  event.preventDefault();
  location.reload();
});

var showPhrase = function() {
  var phraseIndex = Math.floor(Math.random() * (phrases.length));
  // console.log(phraseIndex);
  var putPhrase = phrases[phraseIndex];
  // console.log(putPhrase);
  $(".kanye-phrases").append(putPhrase);
};

$('.modal-btn').click(function(){
  event.preventDefault();
  $('#myModal').modal();
  phrases.forEach(function(phrase) {
    console.log(phrase);
    $('.phrases-list').append("<li>" + phrase + "</li>");
  });
});

$(document).ready(changeImage);

showPhrase();

});
